.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 282c34;
}

.card-panel {
  color: #282c34;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.user-panel {
  font-size: 0.8rem;
}

.user-panel img {
  position: relative;
  display: inline-block;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(0,0,0,.1);
  margin-right: 1rem;
}

.heart-icon {
  position: relative;
  top: -1px;
  width: 15px;
  fill: #f15151;
}

.heart-btn {
  height: 32px;
}